{% extends "base.html" %}
{% block content %}
    <h1 align="center">Добро пожаловать на наш сайт!</h1>
	<br />
	<p>Здесь Вы найдете кучу (пока нет) контента по рэпу, хип-хопу и другому андерграудному творчеству, близкому к этой тематике.</p>
	<br />
	<p>Вы можете обсудить различные темы на нашем форуме, прочитать свежие новости в ленте или стать контент-мейкером и выкладывать собственные треки, биты, статьи и тому подобное у себя на странице.</p>
	<br />
	<pre><nobr>Inspired by: <a href="https://www.hip-hop.ru/">www.hip-hop.ru, </a><a href="https://music.yandex.ru/album/4251330/track/34495261?from=serp"> Бутер Бродский - Пих-пох</a></nobr></pre>
{% endblock %}