{% extends "base.html" %}
{% block content %}
	<a href="{{ url_for('user', user_id=user.id) }}"><i class="fa fa-long-arrow-left fa-3x" aria-hidden="true"></i></a>
	{% if current_user.id == user.id %}
		<h2>Мои треды</h2>
	{% else %}
		<h2>Треды {{ user.nickname }}</h2>
	{% endif %}
		<div class="sec_thr">
			{% for thread in threads %}
					<div class="thread" onclick="location.href='{{ url_for('thread', section_id=thread.section_id, thread_id=thread.id) }}'">
						<div class="lft_thr">
							<div class="lft_thr_up">
								<h3 class="lft_thr_up_lft">{{ thread.name }}</h3>
								<div class="info_thr">
									<p>{{ thread.created_date.strftime("%Y-%m-%d %H:%M") }}</p>
									<pre>Сообщений: {{ thread.count_messages }}</pre>
									{% if thread.is_active %}
										<p style="color: green">Статус: АКТИВ</p>
									{% else %}
										<p style="color: red">Статус: НЕАКТИВ</p>
									{% endif %}
								</div>
							</div>
							<hr></hr>
							{% if thread.description|length > 60 %}
								<p>{{ thread.description[:58] + '...' }}</p>
							{% else %}
								<p>{{ thread.description }}</p>
							{% endif %}
						</div>
					</div>
			{% endfor %}
		</div>
{% endblock %}