{% extends "base.html" %}
{% block content %}
	{% if article.is_admin %}
		<a href="{{ url_for('article_line') }}"><i class="fa fa-long-arrow-left fa-3x" aria-hidden="true"></i></a>
	{% else %}
		<a href="{{ url_for('user', user_id=article.author.id) }}"><i class="fa fa-long-arrow-left fa-3x" aria-hidden="true"></i></a>
	{% endif %}
	<div class="art">
        <h1 style="text-align: center;">{{ article.name }}</h1>
			<hr></hr>
			<p>{{ article.description | safe }}</p>
			<p style="color: #67C7F1; margin-top: 2%;">{{ article.created_date.strftime("%Y-%m-%d %H:%M") }}</p>
			<pre style="margin-bottom: 5%; color: #67C7F1;">Автор: {{article.author.nickname}}<pre>
	{% if current_user.status == "АДМИН" or current_user.id == article.author.id %}
		<pre><a class="del_tred" style="margin-left: 0;" href="{{ url_for('delete_article', article_id=article.id) }}"><i class="fa fa-trash-o" aria-hidden="true"></i>  Удалить новость</a></pre>
	{% endif %}
	</div>
{% endblock %}