{% extends "base.html" %}
{% block content %}
<a href="{{ url_for('user', user_id=user.id) }}"><i class="fa fa-long-arrow-left fa-3x" aria-hidden="true"></i></a>
	<form action="" method="post" class="edit_page" enctype="multipart/form-data">
		{{ form.hidden_tag() }}
		{{ form.csrf_token }}
		<div class="lft_edit">
			<div class="edit_avatar" style="background-image: url({{ url_for('user_avatar', user_id=user.id, cash_number=user.cash_number) }})"></div>
			{{ form.avatar.label }}
			{{ form.avatar(class="form-control avatar_select") }}<br>
			{% for error in form.avatar.errors %}
				<div class="alert alert-danger" role="alert">
					{{ error }}
				</div>
			{% endfor %}
		</div>
	<div class="rght_edit">
		<h1>Изменение данных</h1>
		<p>
			{{ form.birth_date.label }}<br>
			{{ form.birth_date(class="form-control") }}<br>
			{% for error in form.birth_date.errors %}
				<p class="alert alert-danger" role="alert">
					{{ error }}
				</p>
			{% endfor %}
		</p>
		<p>
			{{ form.about.label }}
			{{ form.about(class="form-control about_edit", rows="5", cols="22") }}<br>
			{% for error in form.about.errors %}
				<div class="alert alert-danger" role="alert">
					{{ error }}
				</div>
			{% endfor %}
		</p>
		<p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
		<div class="message">{{ message }}</div>
	</div>
	<div class="othr_edit">
		<a href="{{ url_for('mail_recover_password', user_id=user.id, number=2, is_edit=True) }}">Сменить пароль</a>
		<h4 style="color: #ED4C4C;">Ник и почту никак изменить нельзя!</h4>
	</div>
	</form>
{% endblock %}