<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8; width=1200" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
		<link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='images/favicons/apple-touch-icon.png') }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicons//favicon-32x32.png') }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicons//favicon-16x16.png') }}">
		<link rel="mask-icon" href="{{ url_for('static', filename='images/favicons///safari-pinned-tab.svg') }}" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		<title>{{ title }}</title>
	</head>
	<body>
		<div class="register">
			<h1>РЕГИСТРАЦИЯ</h1>
			<p style="text-align: center;">* - поля обязательные для заполнения</p>
			<form action="" method="post">
				{{ form.hidden_tag() }}
				{{ form.csrf_token }}
				<p>
					{{ form.email.label }}<br>
					{{ form.email(class="form-control", type="email") }}<br>
					{% for error in form.email.errors %}
						<p class="alert alert-danger" role="alert">
							{{ error }}
						</p>
					{% endfor %}
				</p>
				<p>
					{{ form.password.label }}<br>
					{{ form.password(class="form-control", type="password") }}<br>
					{% for error in form.password.errors %}
						<p class="alert alert-danger" role="alert">
							{{ error }}
						</p>
					{% endfor %}
				</p>
				<p>
					{{ form.password_again.label }}<br>
					{{ form.password_again(class="form-control", type="password") }}<br>
					{% for error in form.password_again.errors %}
						<p class="alert alert-danger" role="alert">
							{{ error }}
						</p>
					{% endfor %}
				</p>
				<p>
					{{ form.nickname.label }}<br>
					{{ form.nickname(class="form-control") }}<br>
					{% for error in form.nickname.errors %}
						<p class="alert alert-danger" role="alert">
							{{ error }}
						</p>
					{% endfor %}
				</p>
				<p>
					{{ form.birth_date.label }}<br>
					{{ form.birth_date(class="form-control") }}<br>
					{% for error in form.birth_date.errors %}
						<p class="alert alert-danger" role="alert">
							{{ error }}
						</p>
					{% endfor %}
				</p>
				<p>
					{{ form.about.label }}<br>
					{{ form.about(rows="5", cols="22", class="form-control about") }}<br>
					{% for error in form.about.errors %}
						<p class="alert alert-danger" role="alert">
							{{ error }}
						</p>
					{% endfor %}
				</p>
				<p>
					<div class="captcha">
						{{ form.captcha.label }}<br>
						<img src="data:image/png;base64,{{ сptch }}" id="aaa">
						{{ form.captcha(class="form-control") }}<br>
					</div>
					{% for error in form.about.errors %}
						<p class="alert alert-danger" role="alert">
							{{ error }}
						</p>
					{% endfor %}
				</p>
				<p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
				<p class="message">{{message}}</p>
			</form>
		</div>
	</body>
</html>