{% extends "base.html" %}
{% block head %}
 <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='trix.css') }}" >
 <script type= "text/javascript" src="{{ url_for('static', filename='trix.js') }}"></script>
 <script>
	function answ(nick) {
		let a = document.getElementById('answer').value;	
		document.getElementById('answer').value = "@" + nick + ", ";
		console.log(a)
		if (!a) {
			document.getElementById('ansss').insertAdjacentHTML('afterBegin',  "<a class='clearr' id='cl' onclick='clearr()'>Удалить |</a>");
		}
		window.scrollTo(0, 0);
	}
	function clearr() {
		document.getElementById('answer').value = "";	
		document.getElementById('cl').remove();
	}
 </script>
{% endblock %}
{% block content %}
	<a href="{{ url_for('sect', section_id=section_id) }}"><i class="fa fa-long-arrow-left fa-3x" aria-hidden="true"></i></a>
	<div class="thread thr">
		<div class="lft_thr">
			<h3>{{ thread.name }}</h3>
			<hr></hr>
			<p>{{ thread.description }}</p>
		</div>
		<div class="rght_thr">
			<div class="avatar av_sect" style="background-image: url({{ url_for('user_avatar', user_id=thread.author.id, cash_number=thread.author.cash_number) }})"></div>
			<p><a href="{{ url_for('user', user_id=thread.author_id) }}">{{ thread.author.nickname }}</a></p>
			{% if thread.author.status %}
				<p class="status status_thr">{{ thread.author.status }}</p>
			{% endif %}
		</div>
	</div>
	{% if current_user.status == "АДМИН" or current_user.id == thread.author.id %}
		<pre><a class="del_tred" href="{{ url_for('delete_thread', thread_id=thread.id) }}"><i class="fa fa-trash-o" aria-hidden="true"></i>  Удалить тред</a></pre>
	{% endif %}
	<form action="" method="post" class="mes">
		{{ form.hidden_tag() }}
		{{ form.csrf_token }}
		<p class="add_mes">
			<h3 style="margin-top: -2.5%;">Сообщение</h3>
			<div style="display: flex;" id="ansss">
				{{ form.answers(class="answers", id="answer", readonly="true") }}
			</div>
			{{ form.content(class="form-control mes_content", id="x", style="display: none") }}<br>
			<trix-editor input="x" class="editor" rows="10" id="comment"></trix-editor><br>
			{% for error in form.content.errors %}
				<p class="alert alert-danger" role="alert">
					{{ error }}
				</p>
			{% endfor %}
		</p>
		<p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
		<p class="message">{{message}}</p>
	</form>
	{% if messages %}
		{% for message in messages %}
			<div class="mess">
				<div class="lft_mes">
					<div class="info_mes">
						{{ message.created_date.strftime("%Y-%m-%d %H:%M") }}
						{% if message.redact_date %}
							<br>
							(редакт. {{ message.redact_date.strftime("%Y-%m-%d %H:%M") }})
						{% endif %}
					</div>
					<div class="mes_cont">
						{% if message.answers %}
							<pre><a href="{{ url_for('user', user_id=message.answers_user_id) }}">{{ message.answers }}</a></pre>
						{% endif %}
						<pre>{{ message.content | safe}}</pre>
					</div>
				</div>
				<div class="rght_mes">
					<div class="avatar av_thr" style="background-image: url({{ url_for('user_avatar', user_id=message.author.id, cash_number=message.author.cash_number) }})"></div>
					<p><a href="{{ url_for('user', user_id=message.author_id) }}">{{ message.author.nickname }}</a></p>
					{% if message.author.status %}
						<p class="status status_thr">{{ message.author.status }}</p>
					{% endif %}
				</div>
			</div>
			{% if message.author_id == current_user.id %}
				<div class="for_mes">
					<a class="btn_mes b_1" href="{{ url_for('edit_message', thread_id=message.thread_id, section_id=section_id, message_id=message.id) }}" title="Редактировать"><i class="fa fa-pencil" aria-hidden="true"></i></a>
					<a class="btn_mes b_2" href="{{ url_for('delete_message', thread_id=message.thread_id, section_id=section_id, message_id=message.id) }}" title="Удалить"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
				</div>
			{% elif current_user.status == "АДМИН" %}
				<div style="margin-top: 0.8%; margin-bottom: 2%">
				<a class="btn_mes b_3 b_4" onclick="answ('{{ message.author.nickname }}')">Ответить</a>
				<a class="btn_mes b_2 b_5" href="{{ url_for('delete_message', thread_id=message.thread_id, section_id=section_id, message_id=message.id) }}" title="Удалить"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
				</div>
			{% else %}
				<a class="btn_mes b_3" onclick="answ('{{ message.author.nickname }}')">Ответить</a>
			{% endif %}
		{% endfor %}
	{% else %}
		<h4 style="margin-left: 4%">Сообщений пока нет</h4>
	{% endif %}
{% endblock %}